// media width
// $tablet-media: 768px;
$desctop-media: 768px;

// circle

@mixin circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
}

// tablet media
@mixin tabl {
	@media screen and (min-width: $tablet-media) {
		@content;
	}
}

// desctop media
@mixin desc {
	@media screen and (min-width: $desctop-media) {
		@content;
	}
}

// hover media
@mixin hover {
	@media screen and (hover: hover) {
		@content;
	}
}
